body {
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header-content,
section,
footer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
